<h1>{{myData.name}}</h1>
<div>
    
    <ul class="info">
        {{#with myData.aboutme}}
        <li><span class="first-block">Full Name :</span><span class="second-block">{{FullName}}</span></li>
        <li><span class="first-block">Phone :</span><span class="second-block">{{Phone}}</span></li>
        <li><span class="first-block">Email :</span><span class="second-block"><a href="mailto:{{Email}}">{{Email}}</a></span></li>
        <li><span class="first-block">WebSite :</span><span class="second-block"><a href="{{Website}}">{{Website}}</a></span></li>
        <li><span class="first-block">Address :</span><span class="second-block">{{Address}}</span></li>
        {{/with}}
    </ul> 
</div>